.DS_Store
openGL01/openGL01.xcodeproj/project.xcworkspace/contents.xcworkspacedata
openGL01/openGL01.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
openGL01/openGL01.xcodeproj/project.xcworkspace/xcuserdata/albert.xcuserdatad/UserInterfaceState.xcuserstate
openGL01/openGL01.xcodeproj/xcuserdata/albert.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
openGL01/openGL01.xcodeproj/xcuserdata/albert.xcuserdatad/xcschemes/xcschememanagement.plist